.orange:hover{
    color: orange;
}
input:hover{
    border-color: orange;
}
input{
    width: 170px;
    border-radius: 20%;
}
.container{
    display: flex;
    justify-content: center;
}
.imagen{
    margin: 0 10px;
}
.negro{
    background-color: gray;
    width: 400px;
    border-radius: 3%;
    color: white;
    border: 2px solid gold;
    font-style: oblique;
}
.gris{
    background-color: #bdbbbb;
    width: 400px;
    border-radius: 3%;
    background-color: whitesmoke;
    border: 2px solid gold;
    font-style: oblique;
}
body{
    background-color: rgb(36, 36, 36 );
}
nav{
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 4px solid white;
    display: flex;
    padding-top: 5px;
}
ul,li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;

}
