textarea{
	min-height: 50px;
	height: 100px;
	resize: none;
	border-radius: 3%;
}
textarea:hover{
	border-color: orange;
}
.N{
	height: 10px;
	resize: none;
	border-radius: 3%;
}
.N:hover{
	border-color: orange;
}
button{
	color: white;
	background-color: black;
	border-radius: 5%;
}
body{
    background-color: rgb(36, 36, 36 );
}
div{
	color: white;
}
nav{
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 4px solid white;
    display: flex;
    padding-top: 5px;
}
ul,li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;

}
