nav{
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 4px solid white;
    display: flex;
    padding-top: 5px;
}
ul,li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;

}
.imagen{
    background-image: url(desk-flat-lay-mac-4k-jflcqze1msq9j2xw.jpg);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .5;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
}
.alt{
    width: 50px;
    height: 50px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.ES{
    text-align: center;
    color: black;
    font-size: 50px;

}
.ES2{
    font-size: 25px;
}
.menos{
width: 50%;
margin: auto;
display: block;
background-color: black;
}
.swiper {
  width: 600px;
  height: 300px;
}
.swiper-wrapper {
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1;
}
.img1{
    background-image: url(https://i05.appmifile.com/809_operator_es/11/10/2024/6af1be10892d4610230f4b04ed81a1ac.jpg?thumb=1&w=2560&q=85);
    height: 500px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    margin: auto;
    margin: 0;
    animation-name: cambiar-img;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}
@keyframes cambiar-img {
    0%{
        background-image: url(https://i05.appmifile.com/809_operator_es/11/10/2024/6af1be10892d4610230f4b04ed81a1ac.jpg?thumb=1&w=2560&q=85);   
}
100%{
    border: 4px solid white;
} 
}
mark{
    background-color: white;
}
.cont2{
    margin: auto;
    width: 1200px;
    height: 300px;
    border: 4px solid gold;
    padding: 40px;
    margin-top: -300px;
    display: flex;
}
.contenedor{
padding-top: 300px;

}
.div1,.div2,.div3{
    width: 300px;
    height: 300px;
    margin-right: 60px;
    box-shadow: 0 0 40px 0;
    color: transparent;
}
.div1{
    margin-left: 80px;
}
.imagen2{
    opacity: 1;
    position: absolute;
}
.div1:hover{
color: white;
.n{
    background-color: rgb(43, 42, 42);
}
}
.div2:hover{
    color: white;
    .n{
        background-color: rgb(43, 42, 42);
    }
    }
    .div3:hover{
        color: white;
        .n{
            background-color: rgb(43, 42, 42);
        }
        }
        .c3{
            width: 700px;
            margin: auto;
            margin-top: 150px;
        }
        .imagen3{
            background-image: url(stock.jpeg);
            opacity: 1;
        }
        .error{
            margin-bottom: 630px;
        }
        table{
            color: white;
            border-collapse: separate;
            border-spacing: 10px;
            text-align: center;
        }

